/****** PLACE YOUR CUSTOM STYLES HERE ******/
.accordion-1 .content li {
	margin-left: 	20px;
	list-style: circle;
}

.portrait {
	border-radius: 6px;
}

.map-section {
	height: 40vh;
	max-height: 480px;
}

.alt-color {
	background-color: rgb(110, 193, 197);
}

section {
	padding: 25px 0;
}

.page-title {
	height: 40vh;
}

.parallax:first-child .background-image-holder {
	top: -40vh !important;
	transition: background-position-x 0.3s ease !important;
}

@media (max-width: 767px) {
	.parallax > .background-image-holder, .parallax .slides li > .background-image-holder {
		background-position-x: 30% !important;
    	transition: all 0.3s ease !important;
	}
}

.car-icon {
	line-height: 70px !important;
}
.appeal-icon {
  padding-left: 8px !important;
	line-height: 75px !important;
}

footer {
	font-size: 14px;
}

.flex {
	display: flex;
}

iframe {
	height: 100%;
	width: 100%;
}

.mt-72 {
	margin-top: 72px;
}

.mb-72 {
	margin-bottom: 72px;
}

@media (min-width: 768px) {
	.flex-md {
		display: flex;
	}
}

.col-no-padding {
	padding-right: 0;
	padding-left: 0;
}
